body {
    background-color: #f6f5f2;
}

a:hover {
    text-decoration: none;
}

.container {
    max-width: 1400px;
}

nav {
    position: relative;
}

.detail-home {
    margin: 50px 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    /* Sub Menu */
}

nav ul li a {
    display: block;
    padding: 10px 15px;
    color: #333;
    text-decoration: none;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -ms-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.menu_filter>li>a {
    font-size: 20px;
    color: #333333;
    letter-spacing: 0;
    margin-left: 8px;
    margin-bottom: 5px;
}

nav ul li a:hover {
    background: #f8f8f8;
    color: #515151;
    text-decoration: none;
}

nav ul li a .fa {
    width: 16px;
    text-align: center;
    margin-right: 5px;
    float: right;
}

nav ul ul {}

nav ul li ul li a {
    background: #f8f8f8;
    border-left: 4px solid transparent;
    padding: 10px 20px;
}

nav ul li ul li a:hover {
    background: #ebebeb;
    border-left: 4px solid #3498db;
}

.box_filter {
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 400px;
    margin-top: 54px;
    margin-left: 32px;
    background-color: #ffffff;
    padding-top: 32px;
    padding-bottom: 24px;
    border-radius: 20px;
    margin-top: 32px;
}

.title_filter {
    padding-left: 32px;
    padding-right: 32px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    padding-bottom: 32px;
}

.title_filter.bottom .btn_fil {
    height: 32px;
    margin-top: 20px;
    padding: 4px 12px;
    border: 0;
    border-radius: 16px;
    cursor: pointer;
    font-weight: bold;
}

.title_filter.bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
}

.title_filter .tit {
    font-size: 24px;
    color: #333333;
    letter-spacing: 0;
    margin-left: 8px;
    font-weight: bold;
}

.title_filter .btn_fil {
    height: 32px;
    padding: 4px 12px;
    border: 1px solid #4877f8;
    border-radius: 16px;
    cursor: pointer;
}

.title_filter .btn_fil span {
    font-size: 16px;
    color: #4877f8;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
    margin-top: -6px;
}

.menu_filter {
    background-color: #f6f7f9;
    padding-left: 32px;
    padding-right: 32px;
}

.menu_filter>li {
    padding-bottom: 16px;
    padding-top: 16px;
    border-bottom: #ffffff 1px solid;
}

.box_list {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

._39t1S {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: center;
    align-items: center;
}

.box_list input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox_list {
    position: absolute;
    top: 2px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.box_list input:checked~.checkbox_list:after {
    display: block;
}

.box_list .checkbox_list:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.box_list input:checked~.checkbox_list {
    background-color: #2196f3;
}

.checkbox_list:after {
    content: "";
    position: absolute;
    display: none;
}

.box_list input:checked~.radio_list:after {
    display: block;
}

.box_list .radio_list:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.radio_list:after {
    content: "";
    position: absolute;
    display: none;
}

.box_list input:checked~.radio_list {
    background-color: #2196f3;
}

.radio_list {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

@media (max-width: 600px) {
    .box_filter {
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        margin-top: 54px;
        margin-left: 0px;
        background-color: #ffffff;
        padding-top: 32px;
        padding-bottom: 24px;
        border-radius: 20px;
        margin-top: 32px;
    }
    /* .text-center .pagination {
        padding: 8px 20px;
        border-radius: 50px;
        width: 100%;
        align-items: center;
    }
    .text-center .pagination li {
        list-style: none;
        line-height: 0px;
        margin: 0 2px;
    } */
}

#time-range {
    margin-left: 30px !important;
    width: 80%;
    color: #cccccc;
    font-weight: 300;
}

.slider-time,
.slider-time2 {
    font-weight: 400;
}

.flat-slider.ui-corner-all,
.flat-slider .ui-corner-all {
    border-radius: 0;
}

.flat-slider.ui-slider {
    border: 0;
    background: #f7d2cc;
    border-radius: 6px;
}

.flat-slider.ui-slider-horizontal {
    height: 6px;
}

.flat-slider.ui-slider-vertical {
    height: 15em;
    width: 6px;
}

.flat-slider .ui-slider-handle {
    width: 22px;
    height: 22px;
    background: #fff200;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
}

.flat-slider.ui-slider-horizontal .ui-slider-handle {
    top: 50%;
    margin-top: -11px;
}

.flat-slider.ui-slider-vertical .ui-slider-handle {
    left: 50%;
    margin-left: -11px;
}

.flat-slider .ui-slider-handle:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.35);
}

.flat-slider .ui-slider-range {
    border: 0;
    border-radius: 6;
    background: #f99;
}

.flat-slider.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 6px;
}

.flat-slider.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 6px;
}

.box {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border: 1px solid black;
    border-radius: 3px;
    color: #ffffff;
    margin: 24px 1px 4px 1px;
}

.room .widget {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #fff;
    padding: 20px;
    padding-bottom: 10px;
    margin-top: 32px;
}

.room .widget>.text-center {
    padding: 15px 0;
}

.room .widget-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.room .widget-title a {
    border: 1px solid;
    border-radius: 20px;
    padding: 0 10px;
    padding-top: 5px;
}

.room h3 {
    font-size: 24px !important;
}

.room img {
    border-radius: 10px;
}

.room .widget-content .row>.col:last-child h4 {
    margin-bottom: 20px !important;
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 2;
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.room .left div {
    margin-bottom: 10px;
}

.room .widget-content .col>div {
    display: flex;
    justify-content: center;
}

.room .left {
    flex-grow: 1;
    margin-right: 20px;
}


/* Phòng mới */

.room .widget-content>.row {
    margin-bottom: 15px;
}

.room img {
    height: 100%;
}

.room .left div:last-child {
    margin: 0;
}

.room .left i {
    width: 24px;
    font-size: 18px;
    text-align: center;
    margin-right: 5px;
}

.room .amount {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    color: #f7346f;
}

.blog-grid-list {
    padding: 20px 0px;
    border-bottom: 1px solid #ddd;
}

.blog-grid-list:last-child {
    border-bottom: none;
}

.room .amount h2 {
    font-size: 48px;
}

.room .amount p {
    width: 100%;
    text-align: center;
}


/* Đã xác thực */


/* REPONSIVE một tý */

@media only screen and (max-width: 768px) {
    .room .widget-content .row>.col:last-child h4 {
        margin-top: 10px !important;
    }
}

.pagination {
    background: #eee;
    display: flex;
    padding: 8px 20px;
    border-radius: 50px;
    justify-content: center;
}
.pagination .page-item{
    margin-inline: 5px;
}
.page-link{
    color: #f7346f;
}
.page-item.active .page-link{
    background-color: #f7346f;
    border-color: #f7346f;
}

/* .pagination li {
    list-style: none;
    line-height: 50px;
    margin: 0 5px;
}

.pagination li.pageNumber {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}

.pagination li a {
    display: block;
    text-decoration: none;
    color: #383838;
    font-weight: 600;
    border-radius: 50%;
}

.pagination li.pageNumber:hover a,
.pagination li.pageNumber.active a {
    background: #383838;
    color: #fff;
}

.pagination li:first-child {
    margin-right: 30px;
    font-weight: 700;
    font-size: 20px;
}

.pagination li:last-child {
    margin-left: 30px;
    font-weight: 700;
    font-size: 20px;
} */